.top-ContactBar{

    font-size: 26px;
    text-align: right;
    word-spacing: 20px;
    font-weight: 600;
    color: black;
   
    

}

nav a:hover {
    color: black;
   text-decoration: none;

}




















